.announcementBar {
    margin: 0;
    background-color: black;
    padding: 6px;
    text-align: center;
    color: white;
    font-size: 13px;
}

.shopButton {
    border-radius: 5px;
    padding: 1px 6px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}

@media (max-width: 991px) {
    .announcementBar {
        display: none;
    }
}